<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        {% block logo %}
        <div class="logo">
            <img src="{{ url_for('static', path='task_manager_logo.png') }}" onclick="location.reload();" alt="LOGO">
        </div>
        {% endblock %}
        {% block icon %}
        	<div class="user-icon">
    <a href="/login" class="user-link">
        <svg class="user-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
        </svg>
    </a>
</div>
        {% endblock %}
    </header>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
</body>

</html>